name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to GHCR
      run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/telegram-bot:latest .
        docker tag ghcr.io/${{ secrets.GHCR_USERNAME }}/telegram-bot:latest ghcr.io/${{ secrets.GHCR_USERNAME }}/telegram-bot:1.0.0

    - name: Push Docker image
      run: |
        docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/telegram-bot:latest
        docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/telegram-bot:1.0.0
